// Container Base
$container-width-xxl: 1400px;
$container-width-xl: 1200px;
$container-width-lg: 992px;
$container-width-md: 768px;
$container-width-sm: 576px;
$container-width-xs: 420px;

// Container Padding Base
$padding-container-xxl: 120px;
$padding-container-xl: 90px;
$padding-container-lg: 60px;
$padding-container-md: 30px;
$padding-container-sm: 20px;
$padding-container-xs: 20px;

// Header Menu Font
$header-menu-xxl: 16px;
$header-menu-xl: 14px;
$header-menu-lg: 12px;
$header-menu-md: 10px;
$header-menu-sm: 9px;
$header-menu-xs: 8px;

// Typography Global Base
$heading-size-xxl: 36px;
$heading-size-xl: 34px;
$heading-size-lg: 32px;
$heading-size-md: 30px;
$heading-size-sm: 28px;
$heading-size-xs: 26px;

$heading-2-size-xxl: 24px;
$heading-2-size-xl: 22px;
$heading-2-size-lg: 20px;
$heading-2-size-md: 18px;
$heading-2-size-sm: 16px;
$heading-2-size-xs: 14px;

$subheading-size-xxl: 16px;
$subheading-size-xl: 16px;
$subheading-size-lg: 14px;
$subheading-size-md: 14px;
$subheading-size-sm: 12px;
$subheading-size-xs: 12px;

$paragraph-size-xxl: 20px;
$paragraph-size-xl: 16px;
$paragraph-size-lg: 14px;
$paragraph-size-md: 12px;
$paragraph-size-sm: 10px;
$paragraph-size-xs: 8px;

// Color Base
$color-white: #fff;
$color-white-60: rgba(255, 255, 255, .6);
$color-white-40: rgba(255, 255, 255, .4);
$color-white-20: rgba(255, 255, 255, .2);
$color-black: #0c142c;
$color-black-80: rgba(12, 20, 44, .8);
$color-black-70: rgba(12, 20, 44, .7);
$color-dark-blue: #232b5f;
$color-light-blue: #449fb9;
$color-warm-blue: #4db8c4;
$color-standard-blue: #003478;
$color-soft-blue: #d1d8e8;
$color-subheading: #aabbbc;
$color-grey: #727272;
$color-orange: #f7941d;

// Button Base
$button-border-radius: 2px;
$button-font-size-xl: 16px;
$button-font-size-lg: 14px;